<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Stay organized with this clean and simple To-Do App. Add, manage, and track your daily tasks easily.">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="To-Do App, task manager, productivity, daily planner, checklist">
    <meta name="author" content="Md Kaif">
    <title>error</title>
    <link rel="stylesheet" href="output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&family=Coming+Soon&family=Gloria+Hallelujah&family=Homemade+Apple&family=Indie+Flower&family=Patrick+Hand&family=Permanent+Marker&family=Reenie+Beanie&family=Shadows+Into+Light&display=swap"
        rel="stylesheet">

</head>

<body class="text-[var(--text-color)]">
    <div class="root bg-[var(--bg-color)] text-[var(--text-color)] w-[100vw] h-[100vh] overflow-hidden">
        <div class="flex items-center justify-center box w-full h-full">
          <div class="error">
            <h1 class="font-extrabold text-9xl text-center">404 Error</h1>
            <h2 class="font-bold text-5xl text-center">Page Not Found</h2>
            <h2 class=" font-bold text-xl text-center"><a href="/">Go back</a></h2>
          </div>
        </div>
    </div>

</body>


</html>