@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color:var(--form-buttons);
    border-radius: 10px;
    width: 0.25rem;
    
}
::-webkit-scrollbar{
    background-color:transparent;
    width: 0.25rem;
}
:root{
    --text-color: hsl(216, 31%, 17%);
    --bg-color: hsl(270, 100%, 98%);
    --bg-menu: hsl(269, 100%, 95%);
    --hover-menu: hsl(275, 81%, 89%);
    --search-color: hsl(269, 100%, 92%);
    --form-buttons: hsl(275, 96%, 52%);
    --form-hover: hsl(275, 82%, 38%);
    --card-emerald: var(--color-emerald-200);
    --card-orange: var(--color-orange-200);
    --card-cyan: var(--color-cyan-100);
    --card-red: var(--color-red-200);
    --card-purple-light: var(--color-purple-300);
    --card-purple-lighter: var(--color-purple-200);
 
}

.dark-theme {
    --text-color: hsl(0, 0%, 100%);
    --bg-color: hsl(240, 29%, 5%);
    --bg-menu: hsl(224, 23%, 9%);
    --hover-menu:hsl(225, 48%, 49%);
    --search-color: hsl(240, 29%, 5%,0.7);
    --form-buttons: hsl(225, 48%, 49%);
    --form-hover: hsl(225, 66%, 35%);
    --card-purple-light:hsl(272, 89%, 41%);
    --card-purple-lighter:hsl(292, 65%, 48%);
    --card-red:hsl(356, 86%, 42%);
    --card-orange:hsl(31, 100%, 41%);
    --card-emerald:hsl(150, 42%, 40%);
    --card-cyan: hsl(225, 48%, 49%);

}
.task-items li,.connect li{
    padding: 0.5rem;
    border-radius: 10px;
    font-size: clamp(0.85rem,1.1vw,1rem);
    font-weight: bolder;
    list-style-type: none;
}
.task-items a,.connect a{
    display: flex;
}
.task-items i,.connect i,.theme-mode i{
    padding: 0.25rem;
}
.task-items p,.connect p{margin-left:0.4rem;}
.task-items li:hover,.connect li:hover,.active-list{
    background-color: var(--hover-menu);
}
img{
    border-radius: 50% !important;
}
.notes-wrapper{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    columns: 200px; 
  column-gap: 1rem; 
  padding: 1rem;
  color:var(--note-color);
}

.notes-wrapper .note{
  border-radius: 10px;
  margin-bottom: 1rem;
  display: inline-block;
  width: 100%;
  border-top-left-radius: 0;
  break-inside: avoid;
  padding-bottom: 1rem;
  box-shadow: 0 4px 8px oklch(0 0 0/ 0.1);
   

}
.notes-wrapper .note .remove{
    padding-inline: 0.9rem;
    padding-block: 0.7rem;
    
}
.task-head{
    padding-inline: 0.6rem;
    font-weight: bold;
    font-size: clamp(1.7rem,2vw,3rem);
}
.root{
    position: relative;
}
.task-container{
    background-color: rgba(0, 0, 0, 0.411) !important;
    position: absolute;
    top: 0%;
}
.display-form{
    display: none !important;
}


.comming{
    font-size: clamp(1.5rem,3vw,3.5rem);
}
.contact i:hover{
    color: #0d1d20;

}
.theme-mode,.menu-list{
    display: flex;
    gap: 0.5rem;
}

@media (max-width:650px) {
    .task-list p,.search .search-bar,.nav .logo-box,.task-list .task-logo,.task-list .list-logo,.connect  p{
        display: none
    }
    .menu{
        padding: 0.8rem;
    }
    .wrap{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
   
    .nav,.search{
        justify-content: center !important;
    }
    .add-box{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    .task-list,.task-items,.list-items,.task-items li,.list-items li,.connect{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .task-items,.list-items,.task-items li,.list-items li,.connect{
        align-items: center;

    }
    .task-items li,.list-items li{
        padding: 0.7rem;
    }
}
.color i{
    display: none;
}
.active{
    display: block !important;
}
.login{
    box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.51);
-webkit-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.51);
}
